@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", monospace;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 20px 60px 20px 60px;
    gap: 40px
}

#left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    font-size: 150px;
    margin: 0;
    display: flow;
}

#select {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

#lists {
    height: 30px;
    font-size: 20px;
}

#task-input {
    gap: 10px;
}

button {
    margin-left: 10px;
    width: 90px;
}

#task-name,
#task-due-date,
#list-name {
    font-size: 15px;
    padding: 5px;
}

#task-name,
#task-due-date,
#list-name{
    width: 130px;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task {
    display: flex;
    gap: 10px;
    width: 280px;
    height: 120px;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 200px;
    height: 80px;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}

/*todo: make checkbox a circle*/
input[type=checkbox]{
    width: 25px;
    height: 25px;
    align-self: center;
}